#about {
	.header-top {
		position: fixed;
		z-index: 25;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-image: url('../assets/img/about/bg.jpg');
		background-size: cover;
		background-position: center;

		.left,
		.right {
			position: absolute;
			width: 50%;
			height: 100%;
		}

		.left {
			@include align(l,c);

			@media only screen and (max-width: 1200px) {
				width: 100%;
			}

			.container {
				@include indentation(margin-left);
				position: relative;
				height: 100%;

				@media only screen and (max-width: 1200px) {
					@include indentation(margin-right);
				}

				.center {
					position: absolute;
					@include align(c,c);
					width: 100%;

					h1 {
						position: relative;
						display: inline;
						letter-spacing: .1em;
						text-transform: uppercase;

						@media only screen and (max-width: 1200px) {
							display: block;
						}

						&:after {
							content: "";
							position: absolute;
							z-index: -1;
							top: 50%;
							left: 45%;
							transform: translateY(-50%);
							width: 60%;
							height: 160%;
							background-color: $yellow;
							opacity: .5;

							@media only screen and (max-width: 1200px) {
								left: 40%;
								width: 55%;
							}
						}
					}

					.line {
						width: 50%;
						height: 1px;
						background-color: $white;
						margin: 80px 0 50px 0;
						opacity: .5;

						@media only screen and (max-width: 1200px) {
							width: 100%;
							margin: 40px 0 25px;
						}
					}

					.information {
						margin-left: 15%;

						@media only screen and (max-width: 1200px) {
							margin: 5%;
						}

						.price,
						.location,
						.plan,
						.infrastructure {
							position: relative;
							font-size: .33rem;
							letter-spacing: .1em;
							margin: 30px 0;

							@media only screen and (max-width: 1200px) {
								font-size: .42rem;
							}

							span, p {
								line-height: 1.6em;
							}

							span {
								float: left;
								color: $orange;
							}

							p {
								font-weight: 500;
								margin-left: 50px;
							}
						}
					}
				}
			}
		}

		.right {
			@include align(r,c);
			background-color: rgba(6,4,26,.5);

			@media only screen and (max-width: 1200px) {
				display: none;
			}

			.container {
				@include indentation(margin-right);
				position: relative;
				height: 100%;

				.text {
					position: absolute;
					@include align(c,c);
					width: 66.66%;
				}

				p {
					margin: 25px 0;
					font-size: .33rem;
					font-weight: 300;
				}
			}
		}
	}

	.content {
		position: absolute;
		z-index: 40;
		top: 100vh;
		left: 0;
		right: 0;
		width: 100%;

		.about-text {
			background-color: $dark-blue;
			padding: 30px;
			@include indentation(padding-left);
			@include indentation(padding-right);

			@media only screen and (min-width: 1200px) {
				display: none;
			}

			p {
				margin: 25px 0;
				font-size: .33rem;
				font-weight: 300;
				text-align: center;
			}
		}

		.article {
			position: relative;
			z-index: 2;
			width: 100%;
			padding: 150px 0;
			background-color: $white;

			@media only screen and (max-width: 1200px) {
				padding: 50px 0;
			}

			.first-paragraph,
			.second-paragraph {
				@include indentation(padding-left);
				@include indentation(padding-right);
				position: relative;
				display: flex;
				height: auto;

				@media only screen and (max-width: 1200px) {
					display: block;
				}

				.text {
					h3 {
						color: $black;
						text-transform: uppercase;
						font-size: .5rem;
						font-weight: 900;
						margin-bottom: 50px;
					}

					p {
						color: $black;
						font-size: .33rem;
						font-weight: 400;
						line-height: 1.3em;
						margin-bottom: 20px;
						opacity: .5;
					}
				}

				img {
					height: 100%;

					@media only screen and (max-width: 1200px) {
						padding: 25px 0;
					}
				}

				.rectangle {
					position: absolute;
					z-index: -1;
					width: 20%;
					height: 100%;
					top: 0;

					@media only screen and (max-width: 1200px) {
						display: none;
					}
				}
			}

			.first-paragraph {
				margin-bottom: 100px;

				@media only screen and (max-width: 1200px) {
					margin-bottom: 50px;
				}

				.text {
					float: left;
					margin: auto;
					margin-left: 7%;
					margin-right: 3%;
					width: 40%;

					@media only screen and (max-width: 1200px) {
						width: 100%;
						margin: 0;
						text-align: center;
					}
				}

				.rectangle {
					left: 50%;
					background-color: $yellow;
				}

				img {
					width: 41.66%;
					margin: 120px auto;
					margin-left: 8.33%;

					@media only screen and (max-width: 1200px) {
						width: 100%;
						margin: 0;
					}
				}
			}

			.second-paragraph {
				.text {
					float: right;
					width: 41.66%;
					margin: auto;
					margin-right: 0;

					@media only screen and (max-width: 1200px) {
						float: none;
						width: 100%;
						margin: 0;
						text-align: center;
					}
				}

				.rectangle {
					@include indentation(left);
					background-color: $dark-blue;
				}

				img {
					width: 41.66%;
					margin: 120px 0;
					@include indentation(margin-left);

					@media only screen and (max-width: 1200px) {
						display: none;
					}
				}

				img.mobile {
					display: none;

					@media only screen and (max-width: 1200px) {
						display: block;
						width: 100%;
						margin: 0;
					}
				}
			}
		}

		.gallery {
			box-sizing: border-box;
			width: 100%;
			background-color: $dark-blue;
			padding: 100px 0 150px;

			@media only screen and (max-width: 1200px) {
				padding: 40px 8% 50px;
			}
			@include device(desktop) {
				padding: 50px 0 60px;
			}
			@include device(large-desktop) {
				padding: 60px 0 80px;
			}

			h3, p {
				text-align: center;
				text-transform: uppercase;
				letter-spacing: .1em;
			}

			h3 {
				font-size: .5rem;
				font-weight: 700;
			}

			p {
				font-size: .33rem;
				font-weight: 300;
				margin-top: 30px;
				@media only screen and (max-width: 1200px) {
					margin-top: 15px;
				}
			}

			.slider {
				position: relative;
				box-sizing: border-box;
				width: 100%;
				padding: 0 10%;

				@media only screen and (max-width: 1200px) {
					padding: 0 8%;
				}

				#prev-slide,
				#next-slide {
					position: absolute;
					height: 50px;
					width: 50px;

					span {
						color: $white;
						position: absolute;
						font-weight: 200;
						@include align(c,c);
					}

					@media only screen and (max-width: 1200px) {
						display: none;
					}

					a {
						width: 100%;
						height: 100%;
						position: absolute;
						font-size: 20px;
						opacity: 0;
						@include align(c,c);
					}
				}

				#prev-slide {
					@include align(l,c);
					@include indentation(margin-left);
				}

				#next-slide {
					@include align(r,c);
					@include indentation(margin-right);
				}

				.bx-wrapper {
					margin-top: 50px;
					background: none;
					border: none;
					box-shadow: none;

					.bx-controls {
						display: none;
					}
				}
			}
		}
	}
}