#action {
	position: absolute;
	background-image: url('../assets/img/action/bg.jpg');
	background-size: cover;
	background-position: center;

	footer {
		.scroll-down {
			display: none;
		}
	}

	.fullscreen-container {
		h1 {
			position: absolute;
			z-index: 20;
			top: 25%;
			left: 17%;
			font-size: 1rem;
			letter-spacing: .15em;
			text-transform: uppercase;

			@media only screen and (max-width: 768px) {
				left: 20%;
				//transform: translateX(-50%);
			}

			&:after {
				content: "";
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 55%;
				transform: translateY(-50%);
				width: 180%;
				height: 180%;
				background-color: $yellow;
				opacity: .5;

				@media only screen and (max-width: 768px) {
					width: 120%;
				}
			}

			&:before {
				content: "";
				position: absolute;
				bottom: -100%;
				left: -40%;
				width: 200%;
				height: 1px;
				background-color: $white;
				opacity: .5;

				@media only screen and (max-width: 768px) {
					left: 70%;
					transform: translateX(-50%);
				}
			}
		}

		p {
			position: absolute;
			z-index: 20;
			width: 41.66%;
			top: 50%;
			left: 25%;
			font-size: .25rem;
			font-weight: 200;
			line-height: 1.3em;
			letter-spacing: .1em;

			@media only screen and (max-width: 768px) {
				width: 75%;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
			}

			&:after {
				content: "";
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 16.66%;
				transform: translateY(-35%);
				width: 100%;
				height: 220%;
				background-color: $dark-blue;

				@media only screen and (max-width: 768px) {
					display: none;
				}
			}
		}

		img {
			position: absolute;
			@include align(r,c);
			right: 16.66%;
			width: 22%;
			height: auto;

			@media only screen and (max-width: 768px) {
				display: none;
			}
		}
	}
}