#building {
	position: absolute;
	background-color: $black;

	footer {
		.scroll-down {
			display: none;
		}
	}

	#video {
		position: fixed;
		@include align(c,c);
		z-index: 30;
		min-height: 100%;
		min-width: 100%;
	}

	#darken-video {
		pointer-events: none;
		position: fixed;
		z-index: 35;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .75;
		transition: opacity .75s;

		&.hide {
			opacity: 0;
		}
	}

	#play-video {
		cursor: pointer;
		position: fixed;
		z-index: 40;
		@include align(c,c);
		transition: all .25s;

		span {
			font-size: 2rem;
			transition: all .2s;
		}

		&:hover {
			span {
				font-size: 2.1rem;
			}
		}

		&.hide {
			pointer-events: none;
			opacity: 0;
		}
	}
}