#callback,
#booking {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;

	footer {
		.scroll-down {
			display: none;
		}
	}

	.left {
		position: absolute;
		width: 50%;
		height: 100%;

		@media only screen and (max-width: 1200px) {
			display: none;
		}
	}

	.left {
		@include align(l,c);

		.container {
			@include indentation(margin-left);
			position: relative;
			height: 100%;

			.center {
				position: absolute;
				@include align(c,c);
				width: 100%;

				h1 {
					position: relative;
					display: inline-block;
					margin-left: 16.66%;
					letter-spacing: .2em;
					text-transform: uppercase;

					&:after {
						content: "";
						position: absolute;
						z-index: -1;
						top: 50%;
						right: -20%;
						transform: translateY(-50%);
						width: 90%;
						height: 160%;
						background-color: $yellow;
						opacity: .5;
					}
				}

				.line {
					width: 66.6%;
					height: 1px;
					background-color: $white;
					margin: 80px 0 50px 0;
					opacity: .5;
				}

				p {
					width: 66.66%;
					margin-left: 16.66%;
					letter-spacing: .2em;
					font-weight: 300;
					font-size: .33rem;
				}
			}
		}
	}
}

#callback {
	background-image: url('../assets/img/callback/bg.jpg');
}

#booking {
	background-image: url('../assets/img/booking/bg.jpg');
}

