#contact {
	background-image: url('../assets/img/contact/bg.jpg');
	background-size: cover;
	background-position: center;

	footer {
		.scroll-down {
			display: none;
		}
	}

	.left,
	.right {
		position: absolute;
		width: 50%;
		height: 100%;

		@media only screen and (max-width: 1199px) {
      width: 100%;
    }
	}

	.left {
		@include align(l,c);

		.container {
			@include indentation(margin-left);
			@include indentation(margin-right);
			position: relative;
			height: 100%;

			.center {
				position: absolute;
				@include align(c,c);
				width: 100%;

				h1 {
					position: relative;
					display: inline;
					margin-left: 16.6%;
					letter-spacing: .1em;
					text-transform: uppercase;

					@media only screen and (max-width: 1199px) {
						display: block;
						margin: 0;
						text-align: center;
					}

					&:after {
						content: "";
						position: absolute;
						z-index: -1;
						top: 50%;
						right: -23%;
						transform: translateY(-50%);
						width: 90%;
						height: 160%;
						background-color: $yellow;
						opacity: .5;

						@media only screen and (max-width: 1199px) {
							display: none;
						}
					}
				}

				.line {
					width: 66.6%;
					height: 1px;
					background-color: $white;
					margin: 80px 0 50px 0;
					opacity: .5;

					@media only screen and (max-width: 1199px) {
						width: 50%;
						margin: 40px 0 25px 0;
						margin-left: 25%;
					}
				}

				.information {
					margin-left: calc(33.3% - 50px);

					@media only screen and (min-width: 768px) and (max-width: 1200px) {
						margin-left: 33.3%;
					}

					.location,
					.phone,
					.mail,
					.clock {
						position: relative;
						font-size: .33rem;
						letter-spacing: .1em;
						margin: 30px 0;

						span {
							float: left;
							color: $orange;
						}

						.text {
							font-weight: 500;
							margin-left: 50px;
							line-height: 1.4em;
						}
					}

					.location {
						span {
							line-height: 2.8em;
						}
					}

					.phone {
						span {
							line-height: 4.2em;
						}

						a {
							color: $white;
							font-family: 'Ubuntu';
							font-weight: 300;
						}
					}

					.mail {
						span {
							line-height: 1.4em;
						}
					}

					.clock {
						span {
							line-height: 2.8em;
						}
					}
				}

				a.btn-rectangle {
					display: block;
					height: 4.2vh;
					width: 60%;
					margin: 5px auto;
					line-height: 4.2vh;
					text-align: center;
					font-size: .19rem;
					letter-spacing: .2em;
					font-weight: 800;
					color: #333;

					@media only screen and (min-width: 1200px) {
						display: none;
					}

					@include device(small-mobile) {
						width: 80%;
					}
					@include device(mobile) {
						width: 75%;
					}
					@include device(tablet) {
						width: 50%;
					}
					@include device(laptop) {
						width: 50%;
					}
				}
			}
		}
	}
}