#contact,
#callback,
#booking {
	.right {
		position: absolute;
		width: 50%;
		height: 100%;
		@include align(r,c);
		background-color: rgba(6,4,26,.5);

		@media only screen and (max-width: 1199px) {
			width: 100%;
			background: none;
		}

		.container {
			@include indentation(margin-left);
			@include indentation(margin-right);
			position: relative;
			height: 100%;

			form {
				position: absolute;
				width: 80%;
				@include align(c,c);

				@media only screen and (min-width: 1200px) {
					h2 {
						display: none;
					}
				}

				h2 {
					width: 100%;
					text-align: center;
					letter-spacing: .25em;
					text-transform: uppercase;
					margin-bottom: 20px;
				}

				p {
					font-size: .25rem;
					font-weight: 500;
					letter-spacing: .1em;
					padding: 0;
					margin: 0 0 10px 0;

					@media only screen and (max-width: 1200px) {
						text-align: center;
					}
				}

				input[type="text"],
				input[type="tel"],
				textarea {
					float: left;
					box-sizing: border-box;
					color: $white;
					width: 100%;
					border: none;
					font-family: 'Raleway';
					font-size: .33rem;
					font-weight: 200;
					border-bottom: 1px solid rgba(255,255,255,.5);
					background-color: rgba(0,0,0,0);
					margin: 0 0 40px 0;
					padding: 0 10px;
					transition: all .25s;

					@media only screen and (max-width: 1200px) {
						margin-bottom: 20px;
					}

					&:focus {
						outline: none;
						border-bottom-color: rgba(236,189,55,1);
					}

					&:invalid {
					border-bottom-color: $red;
				}
				}

				input[type="text"],
				input[type="tel"] {
					overflow: hidden;
					height: 50px;
				}

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
						/* display: none; <- Crashes Chrome on hover */
						-webkit-appearance: none;
						margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
				}

				textarea {
					overflow: hidden;
					resize: none;
				}

				input[type="submit"] {
					float: left;
					cursor: pointer;
					height: 4.2vh;
					width: 50%;
					color: #333;
					font-size: .19rem;
					font-weight: 800;
					text-transform: uppercase;
					background-color: $orange;
					border: none;
					transition: background-color .25s;

					@media only screen and (max-width: 1200px) {
						width: 100%;
					}

					&:hover {
						background-color: $yellow;
					}

					&:focus {
						outline: none;
						border-bottom-color: rgba(255,255,255,1);
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1199px) {
	#contact {
		.right {
			display: none;
		}
	}
}