footer.header {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 55;

	@include indentation(margin);

	@include device(small-mobile) {
		width: calc(100% - 2 * #{$pad--s-mob});
	}
	@include device(mobile) {
		width: calc(100% - 2 * #{$pad--mob});
	}
	@include device(tablet) {
		width: calc(100% - 2 * #{$pad--tab});
	}
	@include device(laptop) {
		width: calc(100% - 2 * #{$pad--lap});
	}
	@include device(desktop) {
		width: calc(100% - 2 * #{$pad--des});
	}
	@include device(large-desktop) {
		width: calc(100% - 2 * #{$pad--l-des});
	}
	@include device(full-hd) {
		width: calc(100% - 2 * #{$pad--f-hd});
	}

	&.open {
		.scroll-down {
			pointer-events: none;
			opacity: .25;

			@media only screen and (max-width: 1200px) {
				opacity: 0;
			}

			.line {
				&:after {
					animation-play-state: paused;
				}
			}
		}

		.social-media {
			a {
				&:hover {
					color: $black;
				}
			}
		}
	}

	&.open-news {
		.contact {
			color: $black;
			.phone {
				color: $black;
				.number {
					color: $black;
				}
			}
		}
		.scroll-down {
			opacity: 0;
		}
		@media screen and (max-width: 1200px) {
			.social-media {
				a {
					color: $black;
				}
			}
		}
	}

	.contact {
		position: absolute;
		left: 0;
		bottom: 0;

		.languague {
			font-family: 'Ubuntu';
			font-size: .25rem;
			font-weight: 200;
			letter-spacing: .1em;
			text-transform: uppercase;
			@include responsive(margin-bottom, 5px, 5px, 5px, 5px, 2px, 8px, 10px);

			@media only screen and (max-width: 1199px) {
				display: none;
			}

			.rus,
			.ukr {
				cursor: pointer;
				font-family: 'Raleway';
				font-weight: 900;
				transition: opacity .25s;
				opacity: .5;

				&:hover {
					opacity: 1;
				}

				&.active {
					cursor: auto;
					opacity: 1;
				}
			}
		}

		.phone {
			position: relative;
			color: $white;
			font-family: 'Ubuntu', sans-serif;
			font-size: .25rem;
			font-weight: 200;
			line-height: 22px;
			height: 22px;
			@include responsive(margin-bottom, 1px, 2px, 5px, 5px, 5px, 8px, 10px);

			[class^="icon-"] {
				position: absolute;
				transform: translateY(-50%);
				top: 50%;
				font-size: .33rem;
			}

			.number {
				color: $white;
				position: relative;
				left: 30px;
				letter-spacing: .18em;

				@include responsive(left, 20px, 20px, 24px, 25px, 25px, 28px, 30px);
			}
		}

		.copyright {
			font-size: .25rem;
			font-weight: 400;
			letter-spacing: .04em;
		}
	}

	.scroll-down {
		cursor: pointer;
		position: absolute;
		width: 100px;
		@include align(c,b);
		transition: all .25s;

		@include device(small-mobile) {
			display: none;
		}
		@include device(mobile) {
			display: none;
		}
		@include device(tablet) {
			display: none;
		}

		&.open {
			pointer-events: none;
			opacity: .25;

			.line {
				&:after {
					animation-play-state: paused;
				}
			}
		}

		&.hide {
			pointer-events: none;
			opacity: 0;
		}

		&:hover {
			.line {
				&:after {
					background-color: $yellow;
				}
			}
		}

		p {
			font-size: .25rem;
			font-weight: 900;
			letter-spacing: .15em;
			margin-bottom: 25px;
			text-transform: uppercase;
			transition: all .25s;
		}

		.line {
			position: relative;
			height: 80px;
			@include responsive(height, 60px, 60px, 60px, 60px, 60px, 70px, 80px);
			width: 1px;
			margin: auto;
			background-color: $white;
			transition: all .25s;

			&:after {
				content: "";
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				height: 7px;
				width: 7px;
				background-color: $white;
				border-radius: 50%;
				transition: all .25s;

				animation-name: ScroolDownCircle;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
			}
		}

		@keyframes ScroolDownCircle {
			0% {
				top: 95%;
			}
			75% {
				top: 10%;
			}
			100% {
				top: 95%;
			}
		}
	}

	.social-media {
		position: absolute;
		right: 0;
		bottom: 0;

		a {
			color: $white;
			transition: color .25s;

			[class^="icon-"] {
				font-size: .33rem;
				letter-spacing: 1em;
				cursor: pointer;
			}

			&:last-child {
				[class^="icon-"] {
					letter-spacing: 0;
				}
			}

			&:hover {
				color: $orange;
			}
		}
	}
}

#gallery,
#about,
#news,
#single-news,
#single-gallery {
	footer {
		z-index: 55;

		&.scroll {
			z-index: 45;
		}
	}
}

footer.end {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 25;
	height: 60px;
	background-color: $black;

	@media only screen and (min-height: 1000px) {
		height: 100px;
	}

	p.copyright {
		display: inline;
		color: $white;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		font-size: .25rem;
		font-weight: 400;
		letter-spacing: .04em;
		line-height: 60px;
		@include indentation(padding-left);

		@media only screen and (min-height: 1000px) {
			line-height: 100px;
		}
	}

	.social-media {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		@include indentation(padding-right);

		a {
			float: left;
			display: block;
			color: $white;
			transition: color .25s;

			[class^="icon-"] {
				display: block;
				font-size: .33rem;
				letter-spacing: 1em;
				cursor: pointer;
			}

			&:last-child {
				[class^="icon-"] {
					letter-spacing: 0;
				}
			}

			&:hover {
				color: $orange;
			}
		}
	}
}