#gallery {
	.header-top {
		position: fixed;
		z-index: 25;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-image: url('../assets/img/gallery/bg.jpg');
		background-size: cover;
		background-position: center;

		.title {
			position: absolute;
			@include align(c,c);

			h1 {
				position: relative;
				display: inline;
				font-size: 1rem;
				letter-spacing: .1em;
				text-transform: uppercase;

				&:after {
					content: "";
					position: absolute;
					z-index: -1;
					top: 50%;
					right: -23%;
					transform: translateY(-50%);
					width: 90%;
					height: 160%;
					background-color: $yellow;
					opacity: .5;
				}
			}

			.line {
				width: 125%;
				height: 1px;
				background-color: $white;
				margin-top: 50px;
				margin-left: -25%;
				opacity: .5;
			}
		}
	}

	.content {
		position: absolute;
		z-index: 40;
		top: 100vh;
		left: 0;
		right: 0;
		width: 100%;
		background-color: $dark-blue;

		a {
			article {
				float: left;
				position: relative;
				width: 33.33%;
				height: 0;
				padding-top: 33.33%;
				background-image: url('../assets/img/gallery/bg.jpg');
				background-size: cover;
				background-position: center;

				@media only screen and (max-width: 768px) {
					width: 100%;
					padding-top: 100%;
				}

				@media only screen and (min-width: 767px) and (max-width: 1199px) {
					width: 50%;
					padding-top: 50%;
				}

				.darken-article {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background-color: $dark-blue;
					opacity: .9;
					transition: background-color .25s;
				}

				.title {
					position: absolute;
					width: 70%;
					@include align(c,c);
					text-align: center;

					h4 {
						font-family: 'Ubuntu';
						font-weight: 800;
						color: $orange;
						transition: color .25s;
					}

					p {
						margin-top: -10%;
						font-size: .25rem;
						font-weight: 300;
						color: $white;
						opacity: 0;
						transition: margin-top .25s, opacity .2s;
					}
				}
			}

			&:hover {
				article {
					.darken-article {
						background-color: $orange;
					}

					.title {
						h4 {
							color: $white;
						}

						p {
							margin-top: 40px;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}