// Home styles

#home {
	footer.header {
		.languague {
			@media only screen and (max-width: 1200px) {
				display: none;
			}
		}
	}

	#fullpage {
		.header {
			&.active {
				.content {
					margin-top: 0;
					opacity: 1;

					h1 {
						margin-top: 0;
						opacity: 1;
					}
				}

				.btn-rectangle {
					bottom: 23%;
					opacity: 1;
				}
			}

			.day-bg,
			.night-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;

				transition: opacity 1s;

				&.hide {
					opacity: 0;
				}
			}

			.day-bg {
				background-image: url("../assets/img/home/header/bg-day.jpg");
			}

			.night-bg {
				background-image: url("../assets/img/home/header/bg-night.jpg");
			}

			.day-night {
				position: absolute;
				text-align: center;
				@include align(l,c);
				@include indentation(margin-left);

				@media only screen and (max-width: 1199px) {
					display: none;
				}

				.day,
				.night {
					cursor: pointer;
					color: rgba(255, 255, 255, .5);
					transition: color .25s;

					&:hover {
						color: rgba(255, 255, 255, .75);
					}

					&.active {
						color: rgba(255, 255, 255, 1);
					}
				}

				.day {
					font-size: .66rem;
				}

				.night {
					font-size: .5rem;
				}

				.line {
					height: 1px;
					width: .66rem;
					margin: 10px auto -10px;
					background-color: $white;
				}
			}

			.content {
				position: absolute;
				width: 50%;
				@include align(c,c);
				text-align: center;

				margin-top: 200px;
				opacity: 0;
				transition: all .25s .5s;
				animation-timing-function: ease;

				@media only screen and (max-width: 767px) {
					width: 90%;
				}

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -55%);
					z-index: -2;
					width: 100%;
					height: 200%;
					background-image: url("../assets/img/home/header/form.png");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;

					@media only screen and (max-height: 1000px) {
						height: 180%;
					}
				}

				h1 {
					font-family: 'Ubuntu';
					font-weight: 900;
					letter-spacing: .2em;
					text-transform: uppercase;

					margin-top: 100px;
					opacity: 0;
					transition: all .25s .75s;
					animation-timing-function: ease;
				}

				h5 {
					font-weight: 500;
					letter-spacing: .2em;
				}

				.line {
					height: 1px;
					margin: auto;
					@include responsive(margin-top, 40px, 40px, 40px, 30px, 32px, 36px, 40px);
					@include responsive(margin-bottom, 20px, 20px, 20px, 10px, 12px, 16px, 20px);
					width: 65%;
					background-color: $white;
					opacity: .75;
				}

				p {
					font-size: .33rem;
					font-weight: 400;
					opacity: .8;

					span {
						font-weight: 700;
					}

					@media only screen and (max-width: 767px) {
						width: 75%;
						margin: auto;
					}
					@media only screen and (max-width: 1400px) {
						font-size: .36rem;
					}
				}
			}

			.btn-rectangle {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				width: auto;
				background: none;
				border: solid 2px $white;
				font-weight: 900;
				color: $white;
				height: 4vh;
				font-size: .22rem;
				letter-spacing: .2em;
				line-height: 4vh;
				text-align: center;
				padding: 0 80px;
				white-space: nowrap;

				bottom: 10%;
				opacity: 0;
				transition: all .25s, bottom .25s 1s, opacity .5s 1s;
				animation-timing-function: ease;

				@media only screen and (max-width: 992px) {
					padding: 0 50px;
				}
				@media only screen and (min-width: 992px) and (max-width: 1600px) {
					padding: 0 80px;
				}

				&:hover {
					color: $black;
					background-color: $white;
				}
			}
		}

		.location,
		.infrastructure,
		.developer,
		.music {
			&.active {
				.container {
					margin-top: 0;
					opacity: 1;

					.center {
						.back-square {
							h2 {
								margin-top: 0;
								opacity: 1;
							}
							.front-square {
								margin-top: 0;
								opacity: 1;

								.content {
									margin-top: 0;
									opacity: 1;
								}
							}
						}
					}

					.right-icon {
						.info {
							margin-top: 0;
							opacity: 1;
						}
					}
				}
			}

			.container {
				@include indentation(margin-left);
				@include indentation(margin-right);
				position: relative;
				height: 100%;
				opacity: 0;
				transition: all .25s .4s;
				animation-timing-function: cubic-bezier(0,.5,.3,1);

				.center {
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-75%);
					width: 100%;

					@media only screen and (max-width: 1200px) {
						display: none;
					}

					.back-square {
						position: relative;
						width: 20%;
						height: 0;
						padding-top: 20%;
						background-color: $yellow;

						h2 {
							position: absolute;
							z-index: 5;
							top: 25%;
							left: 33.3%;
							width: 200%;
							transform: translateY(-50%);
							text-transform: uppercase;
							font-weight: 700;
							letter-spacing: .18em;
							opacity: 0;
							margin-top: 150px;
							transition: all .3s .5s;
							animation-timing-function: cubic-bezier(0,.5,.3,1);
						}

						.front-square {
							position: absolute;
							top: 50%;
							left: 50%;
							width: 100%;
							height: 0;
							padding-top: 100%;
							background-color: $orange;

							opacity: 0;
							margin-top: 300px;
							transition: all .4s .75s;
							animation-timing-function: cubic-bezier(0,.5,.3,1);

							.content {
								position: absolute;
								top: 50%;
								left: 20%;
								width: 190%;
								transform: translateY(-50%);
								opacity: 0;
								margin-top: 100px;
								transition: all .5s 1s;
								animation-timing-function: cubic-bezier(0,.5,.3,1);

								h5 {
									font-weight: 500;
									letter-spacing: .2em;
									line-height: 1.1em;
								}

								.line {
									height: 1px;
									width: 50%;
									background-color: $white;
									@media screen and (min-width: 1200px) and (max-width: 1599px) {
										margin: 10px 0 15px 0;
									}
									@media screen and (min-width: 1600px) {
										margin: 20px 0 40px 0;
									}
								}

								p {
									font-weight: 300;
									font-size: .25rem;
									line-height: 1.2em;
									@media only screen and (max-width: 1400px) {
										font-size: .30rem;
									}
								}
							}
						}
					}
				}

				.mobile-center {
					position: absolute;
					width: 100%;
					@include align(c,c);
					text-align: center;

					@media only screen and (min-width: 767px) and (max-width: 1199px) {
						width: 75%;
					}

					@media only screen and (min-width: 1200px) {
						display: none;
					}

					h2, h5, p {
						width: 100%;
					}

					h2 {
						text-transform: uppercase;
						font-weight: 700;
						letter-spacing: .10em;
						margin-bottom: 25px;
					}

					h5 {
						font-weight: 500;
						letter-spacing: .2em;
					}

					.line {
						height: 1px;
						width: 100%;
						background-color: $white;
						margin: 25px 0 40px 0;
					}

					p {
						font-weight: 300;
						font-size: .33rem;
					}
				}

				.right-icon {
					display: block;
					position: absolute;
					right: 8%;
					top: 50%;
					transform: translateY(-60%);
					text-align: center;

					@media only screen and (max-width: 1199px) {
						display: none;
					}

					span {
						font-size: 6rem;
					}

					.info {
						margin-top: 200px;
						opacity: 0;
						transition: all .25s .5s;
						animation-timing-function: ease;

						p {
							text-transform: uppercase;
						}

						p:first-child {
							font-weight: 200;
							font-size: .66rem;
							letter-spacing: .15em;
						}

						p:last-child {
							font-weight: 800;
							font-size: .83rem;
							letter-spacing: .2em;
						}
					}

					.btn-rectangle {
						color: $black;
						font-weight: 900;
						width: 60%;
						height: 4.2vh;
						line-height: 4.2vh;
						margin: 40px auto 0;
					}
				}

				.advantages {
					position: absolute;
					right: 8.33%;
					top: 50%;
					width: 30%;
					transform: translateY(-50%);

					@media only screen and (max-width: 1200px) {
						display: none;
					}

					ul {
						font-size: .38rem;
						font-weight: 500;
						letter-spacing: .05em;

						li {
							line-height: 1.5em;
							margin: 25px 0;
							color: $yellow;

							span {
								color: $white;
							}
						}
					}
				}
			}
		}

		.infrastructure {
			.container {
				margin-right: 0;
			}
		}

		.location,
		.infrastructure,
		.developer,
		.music {
			background-size: cover;
			background-position: center;
		}

		.location {
			background-image: url('../assets/img/home/location/bg.jpeg');
		}

		.infrastructure {
			background-image: url('../assets/img/home/infrastructure/bg.jpg');
		}

		.developer {
			background-image: url('../assets/img/home/developer/bg.jpg');
			@media screen and (max-width: 1199px) {
				background-position: 75%;
			}
		}

		.music {
			background-image: url('../assets/img/home/music/bg-2.jpg');
		}

		.infrastructure {
			#map {
				position: absolute;
				top: 0;
				right: 0;
				max-width: 100%;
				width: 35%;
				height: 100%;

				@media only screen and (max-width: 1200px) {
					display: none;
				}

				&#open {
					width: 100%;
				}
			}
		}
	}

	.slide-container {
		pointer-events: none;
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity .5s;
		@include indentation(margin);

		@include device(small-mobile) {
			width: calc(100% - 2 * #{$pad--s-mob});
			height: calc(100% - 2 * #{$pad--s-mob});
		}
		@include device(mobile) {
			width: calc(100% - 2 * #{$pad--mob});
			height: calc(100% - 2 * #{$pad--mob});
		}
		@include device(tablet) {
			width: calc(100% - 2 * #{$pad--tab});
			height: calc(100% - 2 * #{$pad--tab});
		}
		@include device(laptop) {
			width: calc(100% - 2 * #{$pad--lap});
			height: calc(100% - 2 * #{$pad--lap});
		}
		@include device(desktop) {
			width: calc(100% - 2 * #{$pad--des});
			height: calc(100% - 2 * #{$pad--des});
		}
		@include device(large-desktop) {
			width: calc(100% - 2 * #{$pad--l-des});
			height: calc(100% - 2 * #{$pad--l-des});
		}
		@include device(full-hd) {
			width: calc(100% - 2 * #{$pad--f-hd});
			height: calc(100% - 2 * #{$pad--f-hd});
		}

		&.open {
			pointer-events: auto;
			opacity: 1;
		}

		.title {
			width: 100%;
			text-align: center;
			p {
				width: 50%;
				margin: auto;
				font-size: .33rem;
				font-weight: 800;
				text-transform: uppercase;
			}
		}

		.certificate-slider {
			min-height: 25%;
			min-width: 50%;
			position: absolute;
			@include align(c,c);

			.center {
				height: 100%;
				min-width: 50%;
				max-width: 100%;
				position: absolute;
				@include align(c,c);

				img {
					cursor: pointer;
					display: inline-block;
					width: 48%;
					margin: 1%;
				}
			}
		}

		.close-btn {
			cursor: pointer;
			width: 40px;
			height: 40px;
			position: absolute;
			@include align(c,b);

			.line {
				position: absolute;
				left: 50%;
				top: 50%;
				height: 2px;
				width: 40px;
				background-color: $white;

				&:first-child {
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&:last-child {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}
}

//style the box
.gm-style .gm-style-iw {
  background-color: $black !important;
  top: 0 !important;
  left: 50% !important;
  //width: 100% !important;
  height: 100% !important;
	min-width: 200px !important;
  //min-height: 84px !important;
  //padding: 20px;
  border: 6px solid $orange;
  color: $white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  display: block !important;
	transform: translateX(-50%);
  h5 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
  }
}

.gm-style {
  div {
    div {
      div {
        div:nth-child(4) {
        	min-height: 44px !important;
        }
      }
    }
  }
}

//style the arrow
.gm-style div div div div div div div div {
  background-color: $yellow !important;
  padding: 0;
  margin: 0;
  padding: 0;
  top: 0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.gm-style-iw + div {
  display: none;
}