// Navigation style

// Nav Slider

.fullscreen-nav,
.parallax-nav {
	nav.nav {
		pointer-events: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 50;

		nav.navigation,
		.news-link {
			pointer-events: auto;
		}

		nav.header {
			p, a, .hamburger {
				pointer-events: auto;
			}
		}

		@include indentation(margin);

		@include device(small-mobile) {
			width: calc(100% - 2 * #{$pad--s-mob});
		}
		@include device(mobile) {
			width: calc(100% - 2 * #{$pad--mob});
		}
		@include device(tablet) {
			width: calc(100% - 2 * #{$pad--tab});
		}
		@include device(laptop) {
			width: calc(100% - 2 * #{$pad--lap});
		}
		@include device(desktop) {
			width: calc(100% - 2 * #{$pad--des});
		}
		@include device(large-desktop) {
			width: calc(100% - 2 * #{$pad--l-des});
		}
		@include device(full-hd) {
			width: calc(100% - 2 * #{$pad--f-hd});
		}

		&.open {
			.hamburger {
				.line.top {
					transform: translateY(8px) rotate(45deg);
				}
				.line.center {
					opacity: 0;
				}
				.line.bottom {
					transform: translateY(-8px) rotate(-45deg);
				}
			}

			nav.navigation {
				@media screen and (max-width: 1199px) {
					transform: translateX(0);
				}
				@media screen and (min-width: 1200px) {
					transform: translateX(0);
				}

				ul {
					opacity: 1;
				}
			}
		}

		&.open-news {
			.header a {
				@media only screen and (min-width: 1200px) {
					img.logo-light {
						opacity: 0;
					}
					img.logo-dark {
						opacity: 1;
					}
				}
			}
			nav.navigation {
				ul {
					@media screen and (max-width: 1200px) {
						top: 30%;

						li {
							margin-bottom: 5px;
						}
					}
				}
			}
		}

		nav.header {
			&.open-news {
				a {
					color: $black;
				}
			}

			a {
				position: absolute;
				display: block;
				color: $white;
				@include align(l,t);

				@media only screen and (max-width: 1200px) {
					@include align(c,t);
					margin-top: -2px;
				}

				img.logo-dark,
				img.logo-light {
					position: absolute;
					height: .66rem;
					width: auto;
					transition: all .25s;

					@media only screen and (max-width: 1200px) {
						top: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}

				img.logo-dark {
					opacity: 0;
				}
			}

			.languague {
				position: absolute;
				left: 0;
				top: 0;
				font-family: 'Ubuntu';
				font-size: .33rem;
				font-weight: 900;
				letter-spacing: .1em;
				text-transform: uppercase;
				margin: 3px 0;

				@media only screen and (min-width: 1200px) {
					display: none;
				}

				.rus,
				.ukr {
					cursor: pointer;
					font-family: 'Raleway';
					transition: color .25s;

					&:hover {
						opacity: 1;
					}

					&.active {
						opacity: .5;
					}
				}
			}

			.hamburger {
				position: absolute;
				cursor: pointer;
				@include align(r,t);

				&.open {
					.line.top {
						transform: translateY(8px) rotate(45deg);
					}
					.line.center {
						opacity: 0;
					}
					.line.bottom {
						transform: translateY(-8px) rotate(-45deg);
					}
				}

				.line {
					height: 2px;
					width: 40px;
					margin-bottom: 6px;
					background-color: $white;
					transition: all .25s;
				}
			}
		}

		nav.navigation {
			position: fixed;
			background-color: $orange;
			z-index: -1;
			transition: transform .5s;
			animation-timing-function: ease-out;

			@media screen and (max-width: 1199px) {
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				right: 0;
				transform: translateY(-100%);
			}
			@media screen and (min-width: 1200px) {
				width: 25%;
				height: 100%;
				right: 0;
				top: 0;
				transform: translateX(100%);
			}

			&.open {
				transform: translateX(0);
			}

			ul {
				position: absolute;
				@include align(c,c);
				padding: 0;
				margin: 0;
				opacity: 0;
				transition: all .25s;

				a {
					color: $white;
				}

				li {
					cursor: pointer;
					list-style: none;
					font-size: .33rem;
					line-height: .66rem;
					margin-bottom: 20px;
					text-transform: uppercase;
					font-weight: 900;
					text-align: center;
					transition: all .25s;

					@media only screen and (max-width: 1199px) {
						font-size: .5rem;
						line-height: 1rem;
					}

					&:hover {
						color: #f2c4aa;
					}
				}
			}
		}

		.news-link {
			pointer-events: none;
			opacity: 0;
			position: fixed;
			z-index: -1;
			transition: all .25s;

			@media only screen and (max-width: 1199px) {
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 50%;
			}

			@media only screen and (min-width: 1200px) {
				top: 0;
				left: 0;
				width: 75%;
				height: 100%;
			}

			&.open-news {
				pointer-events: auto;
				opacity: 1;
			}

			a {
				display: block;
				position: relative;
				float: left;
				width: 50%;
				height: 50%;
				background-size: cover;
				background-position: center;
				color: $black;
				transition: color .25s;

				p {
					position: absolute;
					z-index: 5;
					text-transform: uppercase;
					font-size: .66rem;
					font-weight: 900;
					letter-spacing: .02em;
					@include align(c,c);

					@media only screen and (max-width: 992px) {
						font-size: .5rem;
					}
				}

				&::after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					opacity: .9;
					background-color: $white;
					transition: opacity .25s;
				}

				&:hover {
					color: $white;

					p {

					}
					&::after {
						opacity: 0;
					}
				}

				&.news {
					background-image: url('../assets/img/nav/news-bg.jpg');
				}
				&.gallery {
					background-image: url('../assets/img/nav/gallery-bg.jpg');
				}
				&.building {
					background-image: url('../assets/img/nav/building-bg.jpg');
				}
				&.action {
					background-image: url('../assets/img/nav/action-bg.jpg');
				}
			}
		}
	}
}

.parallax-nav {
	nav.nav {
		nav.header {
			box-sizing: border-box;
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			right: 0;
			transition: all .25s;
			@include indentation(padding-top);
			@include indentation(padding-left);
			@include indentation(padding-right);

			.hamburger,
			.languague,
			a {
				position: static;
			}

			.languague {
				display: none;
				float: left;

				@media only screen and (max-width: 1200px) {
					display: block;
				}
			}

			a {
				float: left;
				transform: translateX(0);
				transition: all .25s;

				@media only screen and (max-width: 1200px) {
					float: none;
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					@include indentation(margin-top);
				}
			}

			.hamburger {
				float: right;
			}

			&.scroll {
				background-color: $white;
				padding-top: 25px;
				padding-bottom: 25px;
				box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14);

				a {
					color: $black;

					img.logo-dark,
					img.logo-light {
						@media only screen and (min-width: 1200px) {
							height: .5rem;
						}
					}

					img.logo-dark {
						opacity: 1;
					}
					img.logo-light {
						opacity: 0;
					}
				}

				.languague {
					color: $black;

					@media only screen and (max-width: 1200px) {
						margin: 0;
						margin-top: 7px;
					}
				}

				.hamburger {
					margin-top: 5px;

					.line {
						background-color: $black;
					}
				}
			}
		}
	}
}