#news {
	.header-top {
		box-sizing: border-box;
		position: fixed;
		z-index: 25;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-image: url('../assets/img/news/bg.jpg');
		background-size: cover;
		background-position: center;
		@include indentation(padding);

		.title:not(h3) {
			position: absolute;
			top: 25%;
			left: 16.66%;
			z-index: 5;

			@media only screen and (max-width: 767px) {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			h1 {
				position: relative;
				display: inline;
				font-size: 1rem;
				letter-spacing: .1em;
				text-transform: uppercase;

				&:after {
					content: "";
					position: absolute;
					z-index: -1;
					top: 50%;
					right: -23%;
					transform: translateY(-50%);
					width: 90%;
					height: 160%;
					background-color: $yellow;
					opacity: .5;
				}
			}

			.line {
				width: 125%;
				height: 1px;
				background-color: $white;
				margin-top: 50px;
				margin-left: -25%;
				opacity: .5;
			}
		}

		.last-news {
			position: absolute;
			width: 35%;
			padding: 4vh;
			background-color: $white;
			top: 50%;
			left: 50%;
			transform: translate(-40%, -20%);
			color: $black;

			@media only screen and (max-width: 767px) {
				display: none;
			}

			p.date,
			h3.title,
			.line,
			.text {
				letter-spacing: .1em;
			}

			p.date {
				font-family: 'Ubuntu';
				font-size: .25rem;
				font-weight: 900;
				opacity: .5;
				margin-bottom: 15px;
			}

			h3.title {
				text-transform: uppercase;
				font-size: .36rem;
				font-weight: 900;
			}

			.line {
				height: 1px;
				width: 125px;
				background-color: $black;
				opacity: .5;
				margin: 3vh 0;
			}

			.text {
				width: 70%;
				font-size: .25rem;
				font-weight: 400;
				opacity: .5;
			}

			a.read-more {
				position: relative;
				float: right;
				font-size: .22rem;
				text-transform: uppercase;
				letter-spacing: .2em;
				font-weight: 900;
				color: $orange;
				margin-top: 2vh;
				margin-right: 15%;

				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					margin-bottom: -5px;
					background-color: $orange;
					@include align(c,b);
					transition: all 0.25s;
				}

				&:hover {
					&:after {
						width: 50%;
					}
				}
			}
		}
	}

	.content {
		box-sizing: border-box;
		position: absolute;
		z-index: 40;
		top: 100vh;
		left: 0;
		right: 0;
		width: 100%;
		background-color: $white;
		color: $black;
		@include responsive(padding-top, 40px, 50px, 75px, 100px, 120px, 140px, 150px);
		@include responsive(padding-bottom, 40px, 50px, 75px, 100px, 120px, 140px, 150px);

		h1.title, p.sub-title {
			text-transform: uppercase;
			text-align: center;
		}

		h1.title {
			font-size: 1rem;
			font-weight: 700;
			margin-bottom: 30px;
		}

		p.sub-title {
			font-size: .33rem;
			font-weight: 300;
			@include responsive(margin-bottom, 30px, 40px, 40px, 50px, 60px, 80px, 100px);
		}

		.articles {
			@include indentation(padding-left);
			@include indentation(padding-right);

			a.news {
				position: relative;
				float: left;
				margin: 20px 20px 60px;
				color: $black;

				@include device(small-mobile) {
					width: 100%;
					margin: 20px 0 60px;
				}
				@include device(mobile) {
					width: 100%;
					margin: 20px 0 60px;
				}
				@include device(tablet) {
					width: calc((100% - 20px * 4) / 2);
				}
				@include device(laptop) {
					width: calc((100% - 20px * 6) / 3);
				}
				@include device(desktop) {
					width: calc((100% - 20px * 8) / 4);
				}
				@include device(large-desktop) {
					width: calc((100% - 20px * 8) / 4);
				}
				@include device(full-hd) {
					width: calc((100% - 20px * 8) / 4);
				}

				p.date,
				h3.title,
				.line,
				.text {
					letter-spacing: .1em;
					text-align: center;
				}

				img {
					width: 100%;
					margin-bottom: 25px;
				}

				p.date {
					font-family: 'Ubuntu';
					font-size: .25rem;
					font-weight: 900;
					opacity: .5;
					margin-bottom: 1em;
				}

				h3.title {
					text-transform: uppercase;
					font-size: .36rem;
					font-weight: 900;
				}

				.line {
					height: 1px;
					width: 50%;
					background-color: $black;
					opacity: .5;
					margin: 2vh 25%;
				}

				.text {
					text-transform: none;
					font-size: .25rem;
					font-weight: 400;
					opacity: .5;
					margin-bottom: 3em;
				}

				.read-more {
					position: absolute;
					@include align(c,b);
					font-size: .22rem;
					white-space: nowrap;
					text-transform: uppercase;
					letter-spacing: .2em;
					font-weight: 900;
					color: $orange;
					margin-top: 0px;

					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 2px;
						margin-bottom: -5px;
						background-color: $orange;
						@include align(c,b);
						transition: all 0.25s;
					}

					&:hover {
						&:after {
							width: 50%;
						}
					}
				}
			}
		}
	}
}