#single-news {
	footer.header {
		display: none;
	}

	.header-top {
		position: fixed;
		z-index: 25;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-image: url('../assets/img/news/01/bg.jpg');
		background-size: cover;
		background-position: center;

		.title {
			position: absolute;
			text-align: center;
			width: 85%;
			top: 50%;
			left: 50%;
			transform: translateX(-50%);

			h1 {
				display: inline;
				font-size: 1rem;
				letter-spacing: .1em;
				text-transform: uppercase;
			}
		}
	}

	.content {
		box-sizing: border-box;
		position: absolute;
		z-index: 40;
		top: 100vh;
		left: 0;
		right: 0;
		width: 100%;
		background-color: $white;
		@include indentation(padding-left);
		@include indentation(padding-right);
		padding-top: 2rem;
		padding-bottom: 2.5rem;

		p:not(.copyright), img {
			width: 66.66%;
			padding: 0 16.66%;

			@media only screen and (max-width: 767px) {
				width: 100%;
				padding: 0;
			}

			@media only screen and (min-width: 768px) and (max-width: 1200px) {
				width: 83.33%;
				padding: 0 8.33%;
			}
		}

		p:not(.copyright) {
			color: $black;
			font-size: .25rem;
			font-weight: 400;
			opacity: .5;
			letter-spacing: .1em;
			line-height: 1.5em;
			padding-bottom: 15px;
		}

		img {
			margin: 1.35rem 0;
		}

		.choose-news {
			margin-top: 1.4rem;
			height: .48rem;
			width: 100%;

			a.left,
			a.right {
				width: 45%;

				@media only screen and (max-width: 1050px) {
					margin: 15px 0;
					width: 100%;
				}

				.arrow {
					position: relative;
					width: 50px;
					height: 1px;
					margin-top: .24rem;
					background-color: $black;

					&:after,
					&:before {
						position: absolute;
						content: '';
						width: 12px;
						height: 1px;
						background-color: $black;
					}
				}

				p {
					width: auto;
					font-size: .33rem;
					font-weight: 500;
					letter-spacing: .2em;
					opacity: 1;
					margin: 0 25px;
					padding: 0;
				}
			}

			.left {
				float: left;
				text-align: left;

				.arrow, p {
					float: left;
				}

				.arrow {
					&:after {
						left: -2px;
						top: -4px;
						transform: rotate(-45deg);
					}
					&:before {
						left: -2px;
						top: 4px;
						transform: rotate(45deg);
					}
				}
			}

			.right {
				float: right;
				text-align: right;

				.arrow, p {
					float: right;
				}

				.arrow {
					&:after {
						right: -2px;
						top: -4px;
						transform: rotate(45deg);
					}
					&:before {
						right: -2px;
						top: 4px;
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}