#single-gallery {
	.mfp-container {
		padding: 1.5rem;
	}

	nav.nav:not(.open) {
		nav.header {
			a {
				img.logo-light {
					opacity: 0;
				}
				img.logo-dark {
					opacity: 1;
				}
			}

			.languague {
				color: $black;
			}

			.hamburger {
				.line {
					background-color: $black;
				}
			}
		}
	}

	.btn-line {
		a {
			color: $black;
			p {
				&:after {
					background-color: $black;
				}
			}
		}
	}

	footer.header {
		display: none;
	}

	.content {
		box-sizing: border-box;
		position: relative;
		width: 100%;
		min-height: 100vh;
		color: $black;
		background-color: $white;
		@include indentation(padding-left);
		@include indentation(padding-right);
		padding-top: 3rem;
		padding-bottom: 2.5rem;

		h1.date,
		p.description {
			text-transform: uppercase;
			text-align: center;
			letter-spacing: .1em;
		}

		h1.date {
			font-family: 'Ubuntu';
			font-size: 1rem;
			font-weight: 700;
			margin-bottom: .5em;
		}

		p.description {
			width: 50%;
			margin: 0 auto;
			font-size: .33rem;
			font-weight: 300;
			margin-bottom: 5em;
		}

		.photos {
			width: 100%;

			a {
				margin: 0;
				padding: 0;

				img {
					width: calc((100% - 10px * 8) / 4);
					margin-bottom: -5px;

					@include device(small-mobile) {
						width: 100%;
						padding: 5px 0;
					}
					@include device(mobile) {
						width: 100%;
						padding: 5px 0;
					}
					@include device(tablet) {
						width: calc((100% - 8px * 4) / 2);
						padding: 8px;
					}
					@include device(laptop) {
						width: calc((100% - 10px * 6) / 3);
						padding: 10px;
					}
					@include device(desktop) {
						width: calc((100% - 10px * 8) / 4);
						padding: 10px;
					}
					@include device(large-desktop) {
						width: calc((100% - 10px * 8) / 4);
						padding: 10px;
					}
					@include device(full-hd) {
						width: calc((100% - 10px * 8) / 4);
						padding: 10px;
					}
				}
			}
		}
	}
}