ul.slide-nav {
	position: fixed;
	z-index: 5;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu';
	@include align(r,c);
	@include indentation(margin-right);

	@media only screen and (max-width: 1199px) {
		display: none;
	}

	a {
		color: $white;
		transition: color .25s;

		li {
			list-style: none;
			font-size: .33rem;
			font-weight: 100;
			letter-spacing: .2em;
			line-height: 3em;
			margin: 20px 0;
			transition: font-weight .25s;
		}

		&:hover {
			color: $orange;
		}

		&.active {
			color: $yellow;

			li {
				font-weight: 900;
			}
		}
	}
}