.switches {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 42;

	@include device(small-mobile) {
		display: none;
	}
	@include device(mobile) {
		display: none;
	}
	@include device(tablet) {
		display: none;
	}
	@include device(laptop) {
		display: none;
	}

	a.left,
	a.right {
		pointer-events: auto;
		position: absolute;
		color: $white;

		.arrow {
			position: absolute;
			height: 1px;
			width: 50px;
			background-color: $white;

			&:after,
			&:before {
				content: "";
				position: absolute;
				width: 10px;
				height: 1px;
				background-color: $white;

			}

			&:after {
				top: 4px;
			}

			&:before {
				bottom: 4px;
			}
		}

		p {
			position: absolute;
			font-size: .33rem;
			font-weight: 500;
			letter-spacing: .15em;
			transition: all .25s;
		}
	}

	a.left {
		@include align(l,c);
		@include indentation(margin-left);

		.arrow {
			@include align(l,c);

			&:after {
				left: -2px;
				transform: rotate(45deg);
			}

			&:before {
				left: -2px;
				transform: rotate(-45deg);
			}
		}

		p {
			@include align(l,c);
			left: 70px;
		}

		&:hover {
			p {
				left: 80px;
			}
		}
	}

	a.right {
		@include align(r,c);
		@include indentation(margin-right);

		.arrow {
			@include align(r,c);

			&:after {
				right: -2px;
				transform: rotate(-45deg);
			}

			&:before {
				right: -2px;
				transform: rotate(45deg);
			}
		}

		p {
			@include align(r,c);
			right: 70px;
		}

		&:hover {
			p {
				right: 80px;
			}
		}
	}

	&.open {
		a.left,
		a.right {
			pointer-events: none;
		}
	}
}