@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?iqe7y1');
  src:  url('fonts/icons.eot?iqe7y1#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?iqe7y1') format('truetype'),
    url('fonts/icons.woff?iqe7y1') format('woff'),
    url('fonts/icons.svg?iqe7y1#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e903";
}
.icon-money:before {
  content: "\e850";
}
.icon-music:before {
  content: "\e3a1";
}
.icon-prev:before {
  content: "\e408";
}
.icon-next:before {
  content: "\e409";
}
.icon-high-quality:before {
  content: "\e024";
}
.icon-shopping:before {
  content: "\e8cc";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-mail:before {
  content: "\e0e1";
}
.icon-play:before {
  content: "\e038";
}
.icon-timeline:before {
  content: "\e922";
}
.icon-plan:before {
  content: "\e8f1";
}
.icon-phone:before {
  content: "\e902";
}
.icon-sun:before {
  content: "\e901";
}
.icon-moon:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-vk:before {
  content: "\f189";
}
