// Variables
@import "_common/_variables";
// Mixin
@import "_mixin/_media";
@import "_mixin/_align";
@import "_mixin/_responsive";
@import "_mixin/_indentation";
// Common styles
@import "_common/_common";
@import "_common/_fonts";

#comming-soon {
	background-image: url('https://static.pexels.com/photos/247791/pexels-photo-247791.png');
	background-size: cover;
	background-repeat: no-repeat;

	.darken-bg {
		background-color: $dark-blue;
		opacity: .8;
	}

	.logo-light {
		position: fixed;
		z-index: 5;
		@include align(c,t);
		height: .8rem;
		@include indentation(margin-top);
	}

	.header {
		position: fixed;
		@include align(c,c);
		width: 100%;
		height: 100%;

		.content {
			position: absolute;
			width: 50%;
			@include align(c,c);
			text-align: center;

			@media only screen and (max-width: 767px) {
				width: 90%;
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -55%);
				z-index: -2;
				width: 100%;
				height: 300%;
				background-image: url("../assets/img/home/header/form.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;

				@media only screen and (max-height: 1000px) {
					height: 250%;
				}
			}

			h1 {
				font-family: 'Ubuntu';
				font-weight: 900;
				letter-spacing: .2em;
				text-transform: uppercase;
			}

			h5 {
				font-weight: 500;
				letter-spacing: .2em;
			}

			.line {
				height: 1px;
				margin: auto;
				@include responsive(margin-top, 40px, 40px, 40px, 30px, 32px, 36px, 40px);
				@include responsive(margin-bottom, 20px, 20px, 20px, 10px, 12px, 16px, 20px);
				width: 80%;
				background-color: $white;
				opacity: .75;
			}

			p {
				font-size: .42rem;
				font-weight: 300;

				@media only screen and (max-width: 767px) {
					width: 75%;
					margin: auto;
				}
			}
		}
	}

	.phone {
		position: fixed;
		@include align(c,b);
		@include indentation(margin-bottom);
		margin-left: -20px;
		color: $white;
		font-family: 'Ubuntu', sans-serif;
		font-size: .25rem;
		font-weight: 200;
		line-height: 22px;
		height: 22px;

		[class^="icon-"] {
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			font-size: .33rem;
		}

		.number {
			color: $white;
			position: relative;
			left: 30px;
			letter-spacing: .18em;

			@include responsive(left, 20px, 20px, 24px, 25px, 25px, 28px, 30px);
		}
	}
}