// Variables
@import "_common/_variables";
// Mixin
@import "_mixin/_media";
@import "_mixin/_indentation";

#preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 500;
	width: 100%;
	height: 100%;
	background-color: $white;
	transition: opacity .5s .5s;

	&.hide {
		pointer-events: none;
		opacity: 0;
	}

	.logo-dark {
		position: absolute;
		top: 0;
		left: 50%;
		height: 40px;
		width: auto;
		transform: translateX(-50%);
		@include indentation(margin-top);

		h1 {
			font-size: .75rem;
			text-transform: uppercase;
			font-weight: 900;
			color: $orange;
		}
	}

	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.line {
			float: left;
			height: 60px;
			width: 10px;
			margin: 0 10px;
			background-color: $yellow;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;

			&:nth-child(1) {
				animation-name: firstThirdLine;
			}

			&:nth-child(2) {
				animation-name: secondLine;
			}

			&:nth-child(3) {
				animation-name: firstThirdLine;
			}
		}

		@keyframes firstThirdLine {
			0% {
				height: 60px;
			}
			60% {
				height: 40px;
				margin-top: 10px;
			}
			100% {
				height: 60px;
			}
		}

		@keyframes secondLine {
			0% {
				height: 60px;
			}
			30% {
				height: 20px;
				margin-top: 20px;
			}
			100% {
				height: 60px;
			}
		}
	}
}