doctype html
html
	head
		include _includes/_meta
		meta(name="description", content="Реситаль - это новый жилой квартал в 3 км. от Киева, с возможностью бесплатного бронирования на 4 дня. Всего от 12000/м2.")
		title О комплексе - Реситаль

	body#about.parallax-nav.fullscreen-header
		include _includes/_preloader
		include _includes/_nav
		include _mixin/_top-button
		+top-button("Обратная связь", "callback.html")

		.header-top
			.darken-bg
			.left
				.container
					.center
						h1 О Комплексе
						.line

						.information
							.price
								span.icon-money
								p Выгодная цена
							.location
								span.icon-timeline
								p 3 км. до Киева
							.plan
								span.icon-plan
								p Удобные планировки
							.infrastructure
								span.icon-shopping
								p Развитая инфраструктура
			.right
				.container
					.text
						p На сегодняшний день тяжело определится с выбором качественной и надежной квартиры, которая бы учитывала все пожелания человека. Но мы точно знаем, что необходимо каждому человеку для тихой и беспечной жизни – это уютная и современная квартира! Именно этими принципами руководствуется  наша строительная компания – застройщик, когда создает для вас комфортное жилье.
						p Жилой комплекс Récital (Реситаль)  - это новый жилой  комплекс,  состоящий из трех девятиэтажных домов и коммерческого здания. Это строящийся дом, где задействованы все технологии и энергосберегающие материалы, которые позволяют рационально использовать каждый квадратный метр квартиры. В проекте представлены квартиры  удобной  и экономичной планировки – от 38 до 60 кв.м.  Квартиры оснащены большими современными окнами, что делает  помещение более светлым и уютным.
			.darken-parallax


		.content
			.about-text
				p На сегодняшний день тяжело определится с выбором качественной и надежной квартиры, которая бы учитывала все пожелания человека. Но мы точно знаем, что необходимо каждому человеку для тихой и беспечной жизни – это уютная и современная квартира! Именно этими принципами руководствуется  наша строительная компания – застройщик, когда создает для вас комфортное жилье.
				p Жилой комплекс Récital (Реситаль)  - это новый жилой  комплекс,  состоящий из трех девятиэтажных домов и коммерческого здания. Это строящийся дом, где задействованы все технологии и энергосберегающие материалы, которые позволяют рационально использовать каждый квадратный метр квартиры. В проекте представлены квартиры  удобной  и экономичной планировки – от 38 до 60 кв.м.  Квартиры оснащены большими современными окнами, что делает  помещение более светлым и уютным.

			.article
				.first-paragraph
					.text
						h3 Почему мы?
						p В нашем жилом комплексе  представлены новые современные, недорогие квартиры, имеющие удобную планировку, где вы сможете менять все по своему вкусу и желанию.
						p На сегодняшний день многие задаются вопросом, где можно купить недорогую квартиру по лояльной цене? Мы рады вам предложить тот вариант, который не оставит вас равнодушным в любом случае. У нас вы сможете купить новую квартиру со всеми для вас вытекающими преимуществами. Купить квартиру – это реальность, а несбыточная мечта.
						p Мы реализуем абсолютно качественный жилой новострой в пригороде Киева  в одном из самых развитых районов – Софиевской Борщаговке, который соответствует всем современным стандартам и ведущим технологиям в области строительства.  Купить новую квартиру в Киеве стало реальностью, так как ЖК Реситаль имеет удобное расположение и очень развитую инфраструктуру, но прежде всего, это прекрасная транспортная развязка, которая без лишних проблем позволит добраться до любой точки города.
					img(src="assets/img/about/first-photo.jpg")
					.rectangle
				.second-paragraph
					img(src="assets/img/about/second-photo.jpg")
					.rectangle
					.text
						h3 Лучшая цена
						p Вы можете купить недорогую квартиру в новострое по реальной цене, без лишних затрат.  ЖК Реситаль реализует готовое жилье «под ключ»,но также купить квартиру на будущее по более низкой цене. Здесь вы можете посмотреть готовые квартиры как вариант «комфорт» в современном и развитом новострое.
					img(src="assets/img/about/second-photo.jpg").mobile
			.gallery
				h3 ЖК Реситаль
				p Твой будущий дом
				.slider
					#prev-slide
						span.icon-prev
					#next-slide
						span.icon-next
					ul.bxslider
						li
							img(src="assets/img/about/gallery/1.jpg")
						li
							img(src="assets/img/about/gallery/1.jpg")
						li
							img(src="assets/img/about/gallery/1.jpg")
						li
							img(src="assets/img/about/gallery/1.jpg")
						li
							img(src="assets/img/about/gallery/1.jpg")
						li
							img(src="assets/img/about/gallery/1.jpg")
						li
							img(src="assets/img/about/gallery/1.jpg")

			include _includes/_footer-end

		.darken-nav

		link(rel='stylesheet', href='css/main.min.css')
		link(rel='stylesheet', href='assets/css/bxslider.min.css')
		link(rel='stylesheet', href='assets/css/animate.css')
		script(src='assets/js/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
		script(src='js/main.min.js')
		script(src='js/parallax.min.js')
		script(src='assets/js/bxslider.js')
		script(src='js/animate.min.js')
		script(src='js/sliderSetting.min.js')


