doctype html
html
	head
		title Акции - Реситаль
		meta(name="description", content="Самые свежие акции от ЖК Реситаль. Всего в 3 км. от Киева, к тому же цена от 12000/м2.")
		include _includes/_meta

	body#action.fullscreen-nav

		include _includes/_preloader

		include _includes/_nav
		include _mixin/_top-button
		include _mixin/_switches
		+top-button("Обратная связь", "callback.html")
		+switches("Фотоотчёты", "gallery.html", "Новости", "news.html")

		.darken-bg

		.fullscreen-container
			h1 Акции
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
			img(src="assets/img/action/photo.jpg")

		.darken-nav

		link(rel='stylesheet', href='css/main.min.css')
		script(src='assets/js/jquery-3.2.1.min.js')
		script(src='js/main.min.js')
