doctype html
html
	head
		include _includes/_meta
		meta(name="description", content="Бесплатно забронируем Вам квартиру от застройщика. +38(099)309-12-12, +38(073)309-12-12, +38(097)309-12-12.")
		title Бронирование квартиры - Реситаль

	body#booking.fullscreen-nav
		include _includes/_preloader
		include _includes/_nav
		include _mixin/_top-button
		+top-button("Квартиры", "flat.html")

		.darken-bg

		.left
			.container
				.center
					h1 Забронируй
						br
						| квартиру
					.line
					p Введите свое имя, номер телефона и наши менеджеры забронируют квартиру специально для Вас.

		.right
			.container
				form(action="")
					h2 Забронируй квартиру
					p Имя*
					input(type="text")
					p Телефон*
					input(type="tel")
					p Сообщение
					textarea(rows="6")
					input(type="submit" value="Отправить").btn-form-submit

		.darken-nav

		link(rel='stylesheet', href='css/main.min.css')
		script(src='assets/js/jquery-3.2.1.min.js')
		script(src='js/main.min.js')
