doctype html
html
	head
		include _includes/_meta
		title Онлайн строительство - Реситаль

	body#building.fullscreen-nav
		include _includes/_preloader
		include _includes/_nav
		include _mixin/_top-button
		include _mixin/_switches
		+top-button("Обратная связь", "callback.html")
		+switches("Фотоотчёты", "gallery.html", "Акции", "action.html")

		video#video
			source(src="https://player.vimeo.com/external/204437891.hd.mp4?s=14eed228cbbed6280e5ad9db54c8f1090bb69501&profile_id=119&oauth2_token_id=57447761")

		#darken-video

		#play-video
			span.icon-play

		.darken-nav

		link(rel='stylesheet', href='css/main.min.css')
		script(src='assets/js/jquery-3.2.1.min.js')
		script(src='js/main.min.js')
		script(src='js/building.min.js')
