doctype html
html
	head
		include _includes/_meta
		title ЖК Реситаль, Софиевская Борщаговка

	body#comming-soon.fullscreen-nav
		include _includes/_logo-light

		.darken-bg

		.section.header
			.content
				h1 Recital
				h5 Жилой Комплекс
				.line
				p На данный момент сайт находится в разработке

		p.phone
			span.icon-phone
			a.number(href="tel:+380993091212") +380(099)309-12-12

		link(rel='stylesheet', href='css/comming-soon.css')