doctype html
html
	head
		include _includes/_meta
		meta(name="description", content="Бесплатно забронируем Вам квартиру от застройщика. +38(099)309-12-12, +38(073)309-12-12, +38(097)309-12-12.")
		title Контакты - Реситаль

	body#contact.fullscreen-nav
		include _includes/_preloader
		include _includes/_nav
		include _mixin/_top-button
		+top-button("ЖК на карте", "index.html#infrastructure")

		.darken-bg

		.left
			.container
				.center
					h1 Контакты
					.line

					.information
						.location
							span.icon-room
							.text
								p Софиевская Борщаговка,
								p ул. Петровская 23
						.phone
							span.icon-phone
							.text
								a(href="tel:+380993091212")
									p +380(099)309-12-12
								a(href="tel:+380733091212")
									p +380(073)309-12-12
								a(href="tel:+380973091212")
									p +380(097)309-12-12
						.mail
							span.icon-mail
							.text
								p recital.ua@gmail.com
						.clock
							span.icon-clock
							.text
								p Пн-Сб: 08:00 - 18:00
								p Вс: 10:00 - 15:00

					a(href="callback.html").btn-rectangle Обратный звонок


		.right
			.container
				form(action="")
					p Имя*
					input(type="text")
					p Телефон*
					input(type="tel")
					p Сообщение
					textarea(rows="6")
					input(type="submit" value="Отправить").btn-form-submit

		.darken-nav

		link(rel='stylesheet', href='css/main.min.css')
		script(src='assets/js/jquery-3.2.1.min.js')
		script(src='js/main.min.js')
