doctype html
html
	head
		include _includes/_meta
		meta(name="description", content="актуальные фотоотчеты ЖК Реситаль на Софиевской Борщаговке")
		title Фотоотчёты - Реситаль

	body#gallery.parallax-nav.fullscreen-header
		include _includes/_preloader
		include _includes/_nav
		include _mixin/_top-button
		include _mixin/_switches
		+top-button("Обратная связь", "callback.html")

		.header-top
			.darken-bg

			+switches("Новости", "news.html", "Акции", "action.html")

			.title
				h1 Фотоотчёты
				.line

			.darken-parallax

		.content
			each value in ['12.05.2017', '10.05.2017', '06.05.2017', '02.05.2017','24.04.2017','20.04.2017','15.04.2017','10.04.2017','06.04.2017','02.04.2017','28.03.2017','21.03.2017']
				a(href="single-gallery.html")
					article
						.darken-article
						.title
							h4= value
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


		.darken-nav

		link(rel='stylesheet', href='css/main.min.css')
		link(rel='stylesheet', href='assets/css/animate.css')
		script(src='assets/js/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
		script(src='js/main.min.js')
		script(src='js/animate.min.js')
		script(src='js/parallax.min.js')
