doctype html
html
  head
    include _includes/_meta
    meta(name="description", content="ЖК Реситаль - это возможность приобрести комфортные квартиры от 12000 грн/м2 от застройщика а районе Софиевской Борщаговки.")
    title ЖК Реситаль, Софиевская Борщаговка

  body#home.fullscreen-nav
    include _includes/_preloader
    include _includes/_nav
    include _includes/_number-nav

    include _mixin/_top-button
    include _mixin/_slide-content
    +top-button("Обратная связь", "callback.html")

    #fullpage
      .section.header
        .night-bg
        .day-bg
        .darken-bg
        .day-night
          span.icon-sun.day.active
          .line
          span.icon-moon.night
        .content
          h1 Recital
          h5 Жилой Комплекс
          .line
          p ЖК Реситаль – это комфортные квартиры в Софиевской Борщаговке всего лишь от
            span  12000 грн за м2
            |  с возможностью бесплатного бронирования на 4 дня. (Ну что посмотрим планировки?)
        a(href="flat.html").btn-rectangle Планировки

      .section.location
        .darken-bg
        .container
          +slide-content("Прекрасное расположение", "Жилой комплекс Реситаль (Récital) находится в одном из перспективных районов Киева – Софиевской Борщаговке", "Удобное расположение и хорошая инфраструктура позволяет приобрести квартиру от застройщика в развитом районе Киева. Софиевская Борщаговка – это уютный оазис спокойной жизни в перспективном поселке который, к тому же, полностью соединился с городской инфраструктурой Киева: удобная транспортная развязка открывает массу преимуществ и позволяет без проблем достичь любой точки города.")
          .right-icon
            span.icon-timeline
            .info
              p 3 км. до
              p Киева
      .section.infrastructure
        .darken-bg
        .container
          +slide-content("Развитая инфраструктура", "Вам не придется долго искать необходимые магазины, аптеки или супермаркеты.", "Здесь находится новые школы, небольшие частные и государственные детские садики, гипермаркеты и торгово-развлекательные центры. Не стоит выбираться в город, чтобы интересно провести время или просто отдохнуть. В районе нашего жилого комплекса расположены всевозможные парки развлечений и отдыха, «зеленая зона» для прогулок, семейные кафе и рестораны. Недалеко расположены озера, где можно насладится тихим загородным отдыхом.")
        #map
      .section.developer
        .darken-bg
        .container
          +slide-content("Надежный застройщик", "ЖК Реситаль реализует строительная компания АРБ, которая на рынке недвижимости находится не первый год", "Строительная компания АРБ имеет все разрешительные документы и лицензии, и исполняет строительные работы абсолютно на законных основаниях, что гарантирует качество и надежность застройщика. АРБ существует на рынке недвижимости 12 лет, в Киеве мы реализовали три новых проекта: «Средиземноморский дворик» - таунхаусы в Софиевской Борщаговке, жилой комплекс клубного типа «Гавань», а также проект многоквартирного дома «Реситаль».  ")
          .right-icon
            span.icon-high-quality
            .info
              p Смотреть
              p Сертификаты
            .btn-rectangle Смотреть
      .section.music
        .darken-bg
        .container
          +slide-content("Ваше сольное выступление", "Реситаль – это Ваше сольное выступление длиною в жизнь, правильно подобранные ноты Вашего настроения", "Создавая новый проект Мы не раз задумывались над образом того что скоро станет любимым домом для многих людей. Наша команда нотка за ноткой подбирала все аспекты чтобы Вы почувствовали себя музыкантом который воспроизводит музыку которая внутри каждого из Нас. Здесь Вы персона, личность, человек который живет каждую минуту, каждую секунду с порывом прелестной музыки. Реситаль – это Ваше сольное выступление длиною в жизнь.")
          .advantages
            ul
              li
                span Парк 50 м от нашего комплекса
              li
                span Станции для зарядки электромобилей
              li
                span Карточная система доступа на территорию
              li
                span Охраняемая закрытая территория
              li
                span Свой торговый центр

    .darken-nav

    .slide-container
      .title
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .certificate-slider
        .center
          a(href="assets/img/home/developer/documents/doc.jpg").item
            img(src="assets/img/home/developer/documents/doc.jpg")
          a(href="assets/img/home/developer/documents/doc.jpg").item
            img(src="assets/img/home/developer/documents/doc.jpg")
      .close-btn
        .line
        .line


    link(rel='stylesheet', href='css/main.min.css')
    link(rel='stylesheet', href='assets/css/gallery.css')
    link(rel='stylesheet', href='assets/css/jquery.fullPage.css')
    script(src='./js/googleMap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVZRgMktMeXDTY_mYIQlU-c9S1eKP01wM&callback=initMap', async='', defer='')
    script(src='assets/js/jquery-3.2.1.min.js')
    script(src='assets/js/gallery.js')
    script(src='assets/js/jquery.fullPage.js')
    script(src='./js/main.min.js')
    script(src='./js/fullPageSetting.min.js')
    script(src='./js/gallerySetting.min.js')
