doctype html
html
	head
		include _includes/_meta
		meta(name="description", content="Все новости от Застройщика arbuilding касательно ЖК Recital.")
		title Новости - Реситаль

	body#news.parallax-nav.fullscreen-header
		include _includes/_preloader
		include _includes/_nav
		include _mixin/_top-button
		include _mixin/_switches
		+top-button("Обратная связь", "callback.html")

		.header-top
			.darken-bg

			+switches("Акции", "action.html", "Фотоотчёты", "gallery.html")

			.title
				h1 Новости
				.line

			.last-news
				p.date 12.08.2017
				h3.title Название последней новости
				.line
				p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
				a(href="single-news.html").read-more Читать больше

			.darken-parallax

		.content
			h2.title Все новости
			p.sub-title последнее новости ЖК Реситаль
			.articles
				each date in ['12.05.2017', '10.05.2017', '06.05.2017', '02.05.2017','24.04.2017','20.04.2017','15.04.2017','10.04.2017','06.04.2017','02.04.2017','28.03.2017','21.03.2017']
					a(href="single-news.html").news
						img(src="assets/img/news/01/bg.jpg")
						p.date= date
						h3.title Название новости
						.line
						p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
						.read-more Читать больше

			include _includes/_footer-end

		.darken-nav

		link(rel='stylesheet', href='css/main.min.css')
		link(rel='stylesheet', href='assets/css/animate.css')
		script(src='assets/js/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
		script(src='js/main.min.js')
		script(src='js/animate.min.js')
		script(src='js/parallax.min.js')
