doctype html
html
	head
		include _includes/_meta
		title 12.02.2017 - Фотоотчет - Реситаль

	body#single-gallery.parallax-nav
		include _includes/_preloader
		include _includes/_header
		include _mixin/_top-button
		+top-button("Обратная связь", "callback.html")

		.content
			h1.date 12.02.2017
			p.description Обновленный фотоотчет 12.02.2017. Построено третий этаж первого дома.
			.photos
				a(href="assets/img/gallery/12.02.2017/bg.jpg").item
					img(src="assets/img/gallery/12.02.2017/bg.jpg")
				a(href="assets/img/gallery/12.02.2017/bg.jpg").item
					img(src="assets/img/gallery/12.02.2017/bg.jpg")
				a(href="assets/img/gallery/12.02.2017/bg.jpg").item
					img(src="assets/img/gallery/12.02.2017/bg.jpg")
				a(href="assets/img/gallery/12.02.2017/bg.jpg").item
					img(src="assets/img/gallery/12.02.2017/bg.jpg")
				a(href="assets/img/gallery/12.02.2017/bg.jpg").item
					img(src="assets/img/gallery/12.02.2017/bg.jpg")
				a(href="assets/img/gallery/12.02.2017/bg.jpg").item
					img(src="assets/img/gallery/12.02.2017/bg.jpg")
				a(href="assets/img/gallery/12.02.2017/bg.jpg").item
					img(src="assets/img/gallery/12.02.2017/bg.jpg")
				a(href="assets/img/gallery/12.02.2017/bg.jpg").item
					img(src="assets/img/gallery/12.02.2017/bg.jpg")

			include _includes/_footer-end

		.darken-nav

		link(rel='stylesheet', href='css/main.min.css')
		link(rel='stylesheet', href='assets/css/gallery.css')
		link(rel='stylesheet', href='assets/css/animate.css')
		script(src='assets/js/jquery-3.2.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
		script(src='assets/js/gallery.js')
		script(src='js/main.min.js')
		script(src='js/animate.min.js')
		script(src='js/gallerySetting.min.js')
		script(src='js/singleGallerySetting.min.js')
