footer.end
	p.copyright Ⓒ
		span#bold &nbsp;Recital 2017.&nbsp;
		| All Rights Reserved

	.social-media
		a(href='https://www.facebook.com/Recital.com.ua/')
			span.icon-facebook
		//- a(href='https://www.vk.com/')
		//- 	span.icon-vk
		//- a(href='https://www.twitter.com/')
		//- 	span.icon-twitter