footer.header
	.contact
		p.languague
			span.ukr.active Укр
			span &nbsp;/&nbsp;
			span.rus Рус

		p.phone
			span.icon-phone
			a.number(href="tel:+380995554422") +380(099)555-44-22
		//- p.copyright Ⓒ
		//- 	span#bold &nbsp;Recital 2017.&nbsp;
		//- 	| All Rights Reserved

	.scroll-down
		//- p Листай вниз
		.line

	.social-media
		a(href='https://www.facebook.com/Recital.com.ua/')
			span.icon-facebook
		//- a(href='https://www.vk.com/')
		//- 	span.icon-vk
		//- a(href='https://www.twitter.com/')
		//- 	span.icon-twitter