nav.nav
	nav.navigation
		ul
			a(href="index.html")
				li Главная
			a(href="about.html")
				li О комплексе
			a(href="flat.html")
				li Квартиры
			li.news Новини
			a(href="contact.html")
				li Контакты
	.news-link
		a(href="news.html").news
			p Новости
		a(href="gallery.html").gallery
			p Фотоотчёт
		a(href="#").building
			p Онлайн
		a(href="action.html").action
			p Акции

	nav.header
		p.languague
			span.ukr.active Укр
			span &nbsp;/&nbsp;
			span.rus Рус

		a(href="index.html")
			include _logo-dark
			include _logo-light

		.hamburger
			.line.top
			.line.center
			.line.bottom