meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
meta(name='keywords', content="Новострой, Киевская область новостройка, Купить квартиру Киев, Купить квартиру в новостройке, купить квартиру от застройщика, купить квартиру в Киевской области, недвижимость от застройщика, Софиевская Борщаговка новостройка, Первичная недвижимость в Киеве и области, ЖК Реситаль, Жилой комплекс в области, купить однокомнатную квартиру в Киеве, купить квартиру.")
link(rel='shortcut icon', href='assets/img/favicon.png', type='image/png')
link(rel='stylesheet', href='css/preloader.min.css')

