mixin slide-content(title, subtitle, paragraph)
	.center
		.back-square
			h2= title
			.front-square
				.content
					h5= subtitle
					.line
					p= paragraph
	.mobile-center
		h2= title
		h5= subtitle
		.line
		p= paragraph