// Common

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  color: $white;
}

html {
  @include responsive(font-size, 32px, 36px, 48px, 60px, 48px, 60px, 72px);
}

a {
  text-decoration: none;
}

h1, h2, h3,
h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: .83rem;
}

h3 {
  font-size: .66rem;
}

h4 {
  font-size: .42rem;
}

h5 {
  font-size: .33rem;
}

h6 {
  font-size: .25rem;
}

#bold {
  font-weight: 900;
}

.darken-bg {
  position: absolute;
  @include align(c,c);
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .3;
}

.darken-nav {
  position: fixed;
  z-index: 45;
  @include align(c,c);
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: $dark-blue;
  transition: all .5s;
  opacity: 0;

  &.open {
    opacity: .75;
    pointer-events: auto;
  }

  &.open-slider {
    z-index: 60;
    opacity: .9;
  }
}

.darken-parallax {
  position: absolute;
  z-index: 45;
  @include align(c,c);
  height: 100%;
  width: 100%;
  pointer-events: none;
  background-color: $dark-blue;
  //transition: all .05s;
  opacity: 0;
}

.fullscreen-container {
  width: 100%;
  height: 100%;
  @include indentation(margin);
  @include device(small-mobile) {
    width: calc(100% - 2 * #{$pad--s-mob});
    height: calc(100% - 2 * #{$pad--s-mob});
  }
  @include device(mobile) {
    width: calc(100% - 2 * #{$pad--mob});
    height: calc(100% - 2 * #{$pad--mob});
  }
  @include device(tablet) {
    width: calc(100% - 2 * #{$pad--tab});
    height: calc(100% - 2 * #{$pad--tab});
  }
  @include device(laptop) {
    width: calc(100% - 2 * #{$pad--lap});
    height: calc(100% - 2 * #{$pad--lap});
  }
  @include device(desktop) {
    width: calc(100% - 2 * #{$pad--des});
    height: calc(100% - 2 * #{$pad--des});
  }
  @include device(large-desktop) {
    width: calc(100% - 2 * #{$pad--l-des});
    height: calc(100% - 2 * #{$pad--l-des});
  }
  @include device(full-hd) {
    width: calc(100% - 2 * #{$pad--f-hd});
    height: calc(100% - 2 * #{$pad--f-hd});
  }
}

.btn-rectangle {
  cursor: pointer;
  color: $white;
  font-size: .19rem;
  font-weight: 300;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: $orange;
  border: none;
  transition: background-color .25s;

  &:hover {
    background-color: $yellow;
  }

  &:focus {
    outline: none;
    border-bottom-color: rgba(255,255,255,1);
  }
}

.btn-line {
  position: fixed;
  z-index: 49;
  height: 30px;
  transition: margin-top .25s;
  @include align(c,t);
  @include indentation(margin-top);

  @media only screen and (max-width: 1200px) {
    display: none;
  }

  &.scroll {
    margin-top: 25px;
    z-index: 50;

    a {
      color: $black;
      p {
        &:after {
          background-color: $black;
        }
      }
    }
  }

  a {
    color: $white;
    transition: all 0.25s;

    p {
      line-height: 30px;
      text-transform: uppercase;
      font-weight: 900;
      font-size: .25rem;
      letter-spacing: .2em;

      &:after {
        content: "";
        position: absolute;
        z-index: -5;
        width: 100%;
        height: 2px;
        background-color: $white;
        @include align(c,b);
        transition: all 0.25s;
      }
    }

    &:hover {
      p:after {
        width: 50%;
        background-color: $orange;
      }
    }
  }
}