// Fonts

// Ubuntu google fonts

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic');

// Raleway

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Thin.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

// Icons

@font-face {
  font-family: 'icons';
  src:  url('../assets/fonts/icons.eot?sezp65');
  src:  url('../assets/fonts/icons.eot?sezp65#iefix') format('embedded-opentype'),
    url('../assets/fonts/icons.ttf?sezp65') format('truetype'),
    url('../assets/fonts/icons.woff?sezp65') format('woff'),
    url('../assets/fonts/icons.svg?sezp65#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e903";
}
.icon-money:before {
  content: "\e850";
}
.icon-prev:before {
  content: "\e408";
}
.icon-next:before {
  content: "\e409";
}
.icon-music:before {
  content: "\e3a1";
}
.icon-high-quality:before {
  content: "\e024";
}
.icon-shopping:before {
  content: "\e8cc";
}
.icon-play:before {
  content: "\e038";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-mail:before {
  content: "\e0e1";
}
.icon-timeline:before {
  content: "\e922";
}
.icon-plan:before {
  content: "\e8f1";
}
.icon-phone:before {
  content: "\e902";
}
.icon-sun:before {
  content: "\e901";
}
.icon-moon:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-vk:before {
  content: "\f189";
}