// Variable

// Color

$white: #f7f7f7;
$black: #333;
$blue: #451b59;
$dark-blue: #06041a;
$yellow: #fbc626;
$orange: #fa8631;
$red: #e84e40;

// Global padding for border

$pad--s-mob: 10px;
$pad--mob: 25px;
$pad--tab: 30px;
$pad--lap: 40px;
$pad--des: 45px;
$pad--l-des: 60px;
$pad--f-hd: 80px;


